*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    width: 450px;
    height: 300px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 10px;
    position: relative;
    border-radius: 15px;
}
#heading-part{
    display: flex;
    justify-content: space-between;
}
#heading-part .student-name p{
    font-weight: 400;
    font-weight: bold;
    padding: 2px;
}
#heading-part .logo img{
    width: 200px;
}
#body-part{
    display: flex;
    justify-content: space-between;
}
#body-part .photo img{
    width: 110px;
    height: 130px;
    z-index: -1;
}
#body-part .address p{
    font-weight: bold;
    font-size: 16px;
}
#body-part .bar-code img{
    width: 50px;
    height: 150px;
    position: relative;
    top: 20px;
}
#footer-part{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: end;
    padding-right: 70px;
    top: -10px;
}
.bg-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./Images/lpu_background.png);
    background-size: cover;
    opacity: .1;
    top: -1px;
    left: -0.5px;
}